db.sqlite3
*pyc
*png
*jpg
*log
*svg
*xcf
*/queryOnlineWaveform/connect.json
.env
.dockerignore
backend/migrations/*

*/__pycache__/*
frontend/dist/*
frontend/node_modules/*
*static/*

bin/*

grafana/*
influxdb/*
telegraf/*